body{
background-image: url('Background.jpeg');
background-size: cover;
background-position: center left;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Love Ya Like A Sister', cursive;
}

input{
  height: 30px;
  border-radius:10px;
  border: 0px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}

select{
  border: 0px;
  width: 140px;
  font-size: 18px;
  background-color: white;
  border-radius: 9px;
}

#prompt{
   margin-right: 10px;
   margin-left: auto;
}

#main{
  text-align: center;
}


/*Error Message Styling*/
#errorMessage{
  list-style-type: none;
  color: red;
}

#street_error{
  visibility: hidden;
}

#city_error{
  visibility: hidden;
}

#state_error{
  visibility: hidden;
}

#zip_error{
  visibility: hidden;
}
/*End of Error Message Styling*/


/*Form Field Styling*/
#streetNumber{
  width: 360px;
}

#unit{
  width: 50px;
}
#unit_label{
  margin-left: 265px;
}

#state{
  width: 140px;
  font-size: 18px;
  background-color: white;
  border-radius: 9px;
  /*border: 1px solid red;*/
}

.error{
  border: 1px solid red;
}

.form{
  border-radius: 20px;
  background-color:#e9e3b1;
  text-align: left;
  padding: 20px;
  width: 500px;
  margin-right: 10px;
  margin-left: auto;
}

/*end of form Field Styling*/


