body{
background-image: url('Background.jpeg');
background-size: cover;
background-position: center left;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Love Ya Like A Sister', cursive;
}


#form_div{
  border-radius: 20px;
  background-color:#e9e3b1;
  text-align: left;
  padding: 20px;
  width: 500px;
}

#button{
  background-color:#e74c3c;
  height: 40px;
}
#button:hover{
  background-color:#c0392b;

}



/*Desktop Computer specific*/
@media (min-width: 1025px){
  #form_div{
    margin-right: 10px;
    margin-left: auto;
  }

  #error_div{
    float: left;
  }
}

/*Ipad specific*/
@media (max-width: 1024px){
  #error_div{
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
  }

  #form_div{
    margin-right: auto;
    margin-left: auto;
  }
}

/*Ipad and Desktop*/
@media (min-width: 321px){
  input{
    height: 30px;
    border-radius:10px;
    border: 0px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
  }

  select{
    border: 0px;
    width: 140px;
    font-size: 18px;
    background-color: white;
    border-radius: 9px;
  }

  h1{
    font-size: 55px;
    text-align: center;
  }

  h3{
  text-align: right;
  margin-right: 150px;
  }

  #error_div{
    width: 450px;
    text-align: left;
  }

  #streetNumber{
    width: 360px;
  }

  #unit{
    width: 50px;
  }

  #unit_label{
    margin-left: 265px;
  }

  #state{
    width: 140px;
    font-size: 18px;
    background-color: white;
    border-radius: 9px;
  }

}

/*iphone specific*/
@media (max-width: 320px){
  h1{
    text-align: center;
    font-size: 40px
  }

  #form_div{
  text-align: left;
  width: 270px;
  margin-right: auto;
  margin-left: auto;
  }

  h3{
    text-align: left;
  }

  input{
    height: 30px;
    border-radius:10px;
    border: 0px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
  }

  #unit{
    width: 50px;
  }

  #state{
    width: 140px;
    font-size: 18px;
    background-color: white;
    border-radius: 9px;
  }

  #error_div{
    font-size: 12px;
    margin-top: -20px;
    width: 270px;
  }

 li{
    margin-right: 40px;
    margin-left: auto;
    padding: 5px;
  }
}
/*end of iphone specific*/





/*Error Message Styling*/
#errorMessage{
  list-style-type: none;
  color: red;
}

#street_error{
  visibility: hidden;
}

#city_error{
  visibility: hidden;
}

#state_error{
  visibility: hidden;
}

#zip_error{
  visibility: hidden;
}

.error{
  border: 1px solid red;
}
/*End of Error Message Styling*/






