body{
background-image: url('Background.jpeg');
background-size: cover;
background-position: center left;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Love Ya Like A Sister', cursive;
}

h3{
  text-align: right;
  margin-right: 150px;
}

#main{
  text-align: center;
}

#form_div{
  border-radius: 20px;
  background-color:#e9e3b1;
  text-align: left;
  padding: 20px;
  width: 500px;
}

#error_div{
    width: 450px;
    text-align: left;
    margin-top: -60px;
}

@media (min-width: 1025px){
  #form_div{
    margin-right: 10px;
    margin-left: auto;
  }

  #error_div{
    float: left;
  }
}

@media (max-width: 1024px){
  #error_div{
    margin-left: auto;
    margin-right: auto;
  }

  #form_div{
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 321px){
  input{
    height: 30px;
    border-radius:10px;
    border: 0px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
  }

  select{
    border: 0px;
    width: 140px;
    font-size: 18px;
    background-color: white;
    border-radius: 9px;
  }

  h1{
    font-size: 55px;
  }

  #streetNumber{
    width: 360px;
  }

  #unit{
    width: 50px;
  }

  #unit_label{
    margin-left: 265px;
  }

  #state{
    width: 140px;
    font-size: 18px;
    background-color: white;
    border-radius: 9px;
  }

}






/*Error Message Styling*/
#errorMessage{
  list-style-type: none;
  color: red;
}

#street_error{
  visibility: hidden;
}

#city_error{
  visibility: hidden;
}

#state_error{
  visibility: hidden;
}

#zip_error{
  visibility: hidden;
}
/*End of Error Message Styling*/


/*Form Field Styling*/

.error{
  border: 1px solid red;
}

/*end of form Field Styling*/


